.fill-height {
    height: 100vh;
    overflow-y: auto;
}
.form-content{
    background-color: #EEEDED;
    border-radius: 50px;
}
.form-title-text{
    color: #E21450;
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1.2;
    padding-top: 1rem;
}
.form-subtitle{
    font-size: 1.75em;
    font-weight: bold;
    line-height: 1.2;
    color: #55565A;
}
.form-text{
    font-size: 0.75em;
    font-weight: bold;
    padding-bottom: 1.5em;
}
.logo-background{
    background-image: url('/assets/Logo.png');
    background-repeat: no-repeat;
    background-size: 100% 80%;
    background-position-y: 5rem;
}
.form-control{
    background: transparent;
    border: none;
    border-bottom: 1px solid;
    font-size: 13px;
}
.btn-color{
    color: #fff;
    background-color: #E21450;
    border-color: #E21450;
    margin-top: 1em;
}