<div class="container-fluid fill-height">
    <div class="row h-100">
        <div class="col-2 wrapper-menu">
            <div class="row">
                <div class="text-center">
                    <img src="./assets/huilagr.11237748.png" class="logo-aside" alt="">
                    <h5 class="dark-grey-font">Portal tiendas</h5>
                </div>
            </div>
            <div class="row mt-2 row-bottom-line">
                <div class="col-12 btn-group-vertical">

                    <button type="button" class="btn btn-light btn-block grey-font font-13 text-left">
                        <img class="menu-icon" src="./assets/icons/business-24px.svg" />
                        Administrador 
                    </button>
                    <button type="button" class="btn btn-light btn-block grey-font font-13 text-left">
                        <img class="menu-icon" src="./assets/icons/person_outline-24px.svg" />
                         Portal Plaza Egaña 
                    </button>
                </div>
            </div>
            <div class="row mt-2">
                <div class="accordion col-12" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <button class="btn btn-block text-left font-13 grey-font collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Collapsible Group
                          </button>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                Anim pariatur cliche
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <button class="btn btn-block text-left font-13 grey-font collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Collapsible Group
                          </button>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                Anim pariatur cliche
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <button class="btn btn-block text-left font-13 grey-font collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Collapsible Group
                          </button>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                Anim pariatur
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10 custom-col">
            <nav class="navbar navbar-light bg-light justify-content-end">
                <button class="btn btn-outline-success float-right" type="submit">Search</button>
            </nav>
            <div class="row justify-content-center">
                <div class="col-10 ">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>